<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243274972889-r9bibodit204tokndecr27djem9s06q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243274972889-r9bibodit204tokndecr27djem9s06q9</string>
	<key>API_KEY</key>
	<string>AIzaSyCggW_P94KUE9qz9G_C0Ohww2mLAq-aUFg</string>
	<key>GCM_SENDER_ID</key>
	<string>243274972889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.emergency.sarah</string>
	<key>PROJECT_ID</key>
	<string>emergency911-39ce4</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency911-39ce4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243274972889:ios:c9f1f5094c7d2138f748c8</string>
</dict>
</plist>